%article
  %h1 About
  %p
    I'm Lindsey: a software engineer with a degree in computer science who has been programming since I was 12. I love trying to mix art and code in both how I write code and coming up with new projects that find ways to blend the two. Tea is a way of life for me and reading is my one true love.
  %p
    I'm currently a remote worker for GitHub living in Pittsburgh and a huge fan of both pair programming and
    = succeed "." do
      %a{:href => "https://society6.com/product/purr-programmer_sticker"} purr programming

  %h2 About this site

  %p
    The source for this site is entirely available on
    %a{:href => "https://github.com/LindseyB/blog"} github
    and it was written in ruby using
    = succeed "." do
      %a{:href => "https://www.sinatrarb.com/"} sinatra
    I'd like to thank all the
    %a{:href => "https://github.com/LindseyB/blog/graphs/contributors"} contributors
    for their code and typo fixes and as always pull requests are welcomed.

  %h2 License

  %p
    Everything on this site, created by me, is licensed under the WTFPL.

    %pre
      = preserve "\t\t\tDO WHAT THE FUCK YOU WANT TO PUBLIC LICENSE\n\t\t\t\tVersion 2, December 2004\n\nCopyright (C) 2004 Sam Hocevar <sam@hocevar.net>\n\nEveryone is permitted to copy and distribute verbatim or modified copies of this license document, and changing it is allowed as long as the name is changed. \n\n\t\t\tDO WHAT THE FUCK YOU WANT TO PUBLIC LICENSE \nTERMS AND CONDITIONS FOR COPYING, DISTRIBUTION AND MODIFICATION\n\n0. You just DO WHAT THE FUCK YOU WANT TO."

  %h2 My record collection

  .record-grid
    - @records.each do |record|
      .grid-item
        .panel.panel-default
          .panel-body.record{ :style => "background: url('#{record[:image]}') no-repeat; background-size: cover;"}
            = record[:artist]
            &raquo;
            = record[:title]
