%h1
  #{@title}
%aside
  %time
    %h2
      Archive
  = partial :about


%article
  %ul.archive
    - latest_posts.each do |post|
      %li
        %a{:href => "/posts/#{post.name}", :title => post.title, :alt => post.title}
          = post.title
          %div.date
            = post.formatted_date


